<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="wrapper ">
        <header class="header">
            <img class="header__logo" src="./assets/logo/company-logo-white.svg" alt="photo">             
            <main class="header-container">
                <div class="header__initial-photo _big-container">
                    <div class="initial-photo__text">
                        <div class="text-body">
                            <h1 class="initial-photo__text__tagline tagline">partner with konstruct</h1>
                            <h3 class="initial-photo__text__subtitle subtitle" >An award-winning construction management firm</h3>
                        </div>
                        <h4 class="initial-photo__subsubtitle subsubtitle"> scroll down</h4>
                    </div>              
                </div>
            </main>
        </header><!--
        <div class="burger">
            <img class="burger__logo" src="./assets/logo/company-logo-black.svg" alt="logo" class="initial-photo__logo logo">
            <div class="burger__menu">
                <a href="http://" class="">home</a>
                <a href="http://" class="">about</a>
                <a href="http://" class="">services</a>
                <a href="http://" class="">work</a>
                <a href="http://" class="">contact</a>
            </div>
        </div>-->  

    </div>
</body>
</html>