
html,body{
    height: 100%;
}

a{
    color: inherit;
    text-decoration: inherit;
}

.logo{
    width: 101.62px;
    height: 23px;

}

.tagline{
    font-family:"Bebas Neue Bold";
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.70937px;
    text-transform: uppercase;
    text-align: center;
}

.subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
}

.subsubtitle{
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    color:white;
    text-align: center;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
}
._container{
    max-width: 941px;
    margin: 0px auto;
}

._big-container{
    max-width: 1438px;
    margin: 0px auto;
}

.header{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url('../assets/bg/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 769px;
    user-select: none;
}

.header__container__logo{
    display: flex;
    justify-content: center;
}

.header__logo{
    padding: 41px;
    height: 30px;
}

.header__initial-photo{
    position: sticky;
}

.text-body{
    color: white;
}


.initial-photo__text{
    margin: auto 0;
    color: white;
}

.initial-photo__footer{
    position: sticky;
    margin-top: 200px;
}

@media (min-width:282px){
    .initial-photo__text{
        margin-top: 130px;
    }
    .tagline{
        font-size: 40px;
        line-height: 35px;
    }
    .initial-photo__footer{
        margin-top: 120px;
    }
    .header{
        height: 600px;
    }
}
@media (min-width:318px){
    .initial-photo__text{
        margin-top: 130px;
    }
    .tagline{
        font-size: 50px;
        line-height: 40px;
    }
    .initial-photo__footer{
        margin-top: 120px;
    }
    .header{
        height: 600px;
    }
}
@media (min-width:424px){
    .initial-photo__text{
        margin-top: 190px;
    }
    .tagline{
        font-size: 60px;
        line-height: 65px;
    }
    .initial-photo__footer{
        margin-top: 150px;
    }
    .header{
        height: 700px;
    }
}

@media (min-width:760px){
    .initial-photo__text{
        margin-top: 260px;
    }
    .tagline{
        font-size: 60px;
        line-height: 65px;
    }
    .initial-photo__footer{
        margin-top: 210px;
    }
    .header{
        height: 769px;
    }
}

@media (min-width:1000px){
    .initial-photo__text{
        margin-top: 260px;
    }
    .tagline{
        font-size: 60px;
        line-height: 0px;
    }
    .initial-photo__footer{
        margin-top: 400px;
    }
    .header{
        height: 920px;
        background-size: contain;
    }
}