<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="wrapper _big-container">
        <header class="cover">
            <div class="cover__container__logo">
                <img class="cover__logo" src="./assets/logo/company-logo-white.svg" alt="photo">
            </div>             
            <main class="cover-container">
                <div class="cover__initial-photo">
                    <div class="initial-photo__text">
                        <div class="text-body">
                            <h1 class="initial-photo__text__tagline tagline">partner with konstruct</h1>
                            <h3 class="initial-photo__text__subtitle subtitle">An award-winning construction management firm</h3>
                        </div>
                    </div>
                    <h4 class="initial-photo__footer subsubtitle">scroll down</h4>
                </div>
            </main>
        </header>
        <div class="burger__wrapper">
            <div class="burger _container">
                <img class="burger__logo" src="./assets/logo/company-logo-black.svg" alt="logo">
                <div class="burger__menu">
                    <a href="http://" class="menu__href">home</a>
                    <a href="http://" class="menu__href">about</a>
                    <a href="http://" class="menu__href">services</a>
                    <a href="http://" class="menu__href">work</a>
                    <a href="http://" class="menu__href">contact</a>
                </div>
            </div>
        </div>
        <div class="our_story _container">
            <div class="our-story__header">
                <div class="header__name title">our story</div>
                <div class="header__content">
                    <div class="content__text">
                        <div class="content__text__subtitle">Founded in 2011 by John Mathew Smith, <div class="subtitle__second"><a href="/">Konstruct</a></div> has become the number one construction management firm</div>
                        <div class="content__text__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                             Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</div>
                    </div>
                    <div class="content__images">
                        <div class="content__images__img1"><p>we plan</p></div>
                        <div class="content__images__img2"><p>we manage</p></div>
                        <div class="content__images__img3"><p>we build</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-capabilites _container">
            <div class="our-capabilites__content">
                <div class="our-capabilites__content__title title">our capabilites</div>
                <div class="our-capabilities__other">
                    <div class="content__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</div>
                    <button class="content__button">all services</button>
                </div>
              
            </div>
            <div class="our-capabilities__article">
                <div class="article__table">
                    <img src="../assets/not_vector/project.png" class="article__table__image">
                    <div class="article__table__title">project and construction managment</div>
                    <div class="article__table__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</div>
                </div>
                <div class="article__table structure">
                    <img src="../assets/not_vector/structure.png" class="article__table__image">
                    <div class="article__table__title">structure audit and maintenance</div>
                    <div class="article__table__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</div>
                </div>
                <div class="article__table">
                    <img src="../assets/not_vector/factory.png" class="article__table__image">
                    <div class="article__table__title">factory construction and modeling</div>
                    <div class="article__table__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>