$second:#00A4E5 !global;
$primary:#48555B !global;
$background:#F2F2F2 !global;
html,body{
    background-color: $background;
    height: 100%;
}

a{
    color: inherit;
    text-decoration: inherit;
}

button{

    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.5px;
    background-color: $second;
    padding: 11px 29px 11px 29px ;
    border: none;
    cursor: pointer;
}

h1,h2,h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h3{
    font-weight: 400;
}

.logo{
    width: 101.62px;
    height: 23px;

}

.primary{
    color:$primary;
}

.tagline{
    font-family:"Bebas Neue Bold";
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.70937px;
    text-transform: uppercase;
    text-align: center;
}

.subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    letter-spacing: 1px;    
}

.subsubtitle{
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    color:white;
    text-align: center;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
}
._container{
    max-width: 941px;
    margin: 0px auto;
}

._big-container{
    max-width: 1438px;
    margin: 0px auto;
}

._min{
    display: none;
    font-size: 12px;
    padding-top: 20px;
}


.title{
    position: relative;
    color: $primary;    
    letter-spacing: 2.31px;
    font-size: 20px;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: fit-content;

}

.title::after{
    content: ""; 
    display: block;
    margin: 0 auto;
    border-bottom: 2px solid $second;
    width: 50%;
    padding-top: 10px;
}

.cover{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url('../assets/bg/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 100vh;
    user-select: none;
    .cover__container__logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .cover__logo{
            padding: 41px;
            height: 30px;
        }        
    }
    .cover__initial-photo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        .initial-photo__text{
            margin: auto 0;
            color: white;
            .text-body{
                color: white;
            }                     
        }
        .initial-photo__footer{
            margin-bottom: 50px;
        }
    }
}

.burger__wrapper{
    border-bottom: 1px solid #E6E6E6;
    user-select: none;
    .burger{
        display: flex;
        justify-content: space-between;
        padding-top: 14px;
        padding-bottom: 23px;
        .burger__logo{
            width:79.71px;
        }
        .burger__menu{
            padding-top: 5px;
            .menu__href{
                font-family: 'Open Sans Bold', sans-serif;
                font-weight: 600;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 1.09px;
                text-transform: uppercase;
                color: $primary;
            }
            .menu__href:not(:last-child){
                padding-right: 48px;
            }
            .menu__href:hover{
                color:$second;
            }
        }
        .burger__menu-svg{
            display: none;
            cursor: pointer;
        }
    }
}


.header__content{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 58px;
}

.header__name{
    margin: 0 auto;
    padding-top: 58px;
}



.content__text{
    line-height: 23px;
    color: $primary;
    user-select: none;
    .content__text__subtitle{
        font-family: "Open Sans Bold", sans-serif;
        font-weight: 700;
        font-size: 20px;
        .subtitle__second{
            display: inline;
            color:$second;
        }    
    }
    .content__text__text{
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        letter-spacing: 0.19px;
        line-height: 25px;
        font-weight: 500;
        padding-top: 30px;
    }
    
}

.content__images{
    display: flex;
    justify-content: flex-end;
    user-select: none;
    .content__images__img1,.content__images__img2,.content__images__img3{
        color: white;
        font-family: "Open Sans ExtraBold", sans-serif;
        font-weight: 900;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 24px;
        letter-spacing: 0.19px;
    }
}

.content__images__img1{
    margin-right: 15px;
    width: 140px;
    height: 224px;
    background-image: url(../assets/png_content/build.png);
    p{
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding: 21px;
    }
}

.content__images__img2{
    margin-right: 15px;
    width: 140px;   
    background-image: url(../assets/png_content/manage.png);
    p{
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding: 21px;
    }
}
.content__images__img3{
    width: 140px;
    background-image: url(../assets/png_content/plan.png);
    p{
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding: 15px;
    }

}

.our-capabilites{
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    user-select: none;
    .title{
        position: relative;
        color: $primary;    
        letter-spacing: 2.31px;
        font-size: 20px;
        font-family: 'Open Sans Bold', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        width: fit-content;
    }
    .title::after{
        content: ""; 
        display: block;
        margin:0px;
        width: 3px;
        border-bottom: 2px solid $second;
        width: 25%;
        padding-top: 10px;
    }
    .our-capabilites__content{
        display: flex;
        justify-content: space-between;
    
        .our-capabilites__content__title{
            width: 217px;        
            padding-top: 15px;
        }
        .our-capabilities__other{
            display: flex;
            .content__text{
                height: 40px;            
                font-size: 12px;
                text-align: center;
                max-width: 405px;
            }
            .content__button{
                width: 200px;
                max-height: 50px;

            }            
        }

    }
    .our-capabilities__article{
        margin-top: 78px;
        display: flex;
        align-content: flex-start;
        .article__table{
            border: 1px solid #E6E6E6;
            padding: 38px 23px;
            max-width: 300px;
            min-width: 150px;               
            .article__table__image{
                width: 65px;
            }
            .article__table__title{
                font-family: 'Open Sans Bold', sans-serif;
                font-size: 16px;
                letter-spacing: 0.426667px;
                font-weight: 700;
                color: $primary;
                padding-top: 25px;
                text-transform: uppercase;
            }
            .article__table__text{
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                padding-top: 13px;
            }
        }
    }
}

.structure{
    margin: 0 20px;
}

.build{
    display: flex;
    margin-top:150px;
    background-image: url(../assets/bg/end-bg.jpg);
    height: 500px;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    .build__title{
        font-family: 'Open Sans Bold', sans-serif;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 1.09px;
        color: $primary;
        max-width: 350px;
        text-align: center;
        margin: 0 auto;
    }
    .build__button{
        margin: 0 auto;
    }    
}


.email{
    position: relative;
    bottom: 1px;
    .email__title_min{
        display: none;
        justify-content: center;
        background-color: #171819;
        padding:20px 0px 0px;
        margin-top: 0px;
        font-family: 'Open Sans Bold', sans-serif;
        font-weight: 600;
        font-size: 22px;
        color: #ffff;
        margin-top: 5px;
    }    
    .email__wrapper{
        background-color: #171819;
        display: flex;
        justify-content: center;
        padding:33px 0px;
        margin-top: 0px;
        .email__title{
            font-family: 'Open Sans Bold', sans-serif;
            font-weight: 600;
            font-size: 22px;
            color: #ffff;
            padding-right: 70px;
            margin-top: 5px;
        }     
        .email__input{        
            .email__input__string{
                width: 250px;
                height: 30px;
                padding-left: 17px;
            }
            button{
                position: relative;
                padding: 11px 30px 11px;
                right: 1px;
            }
        }
    }    
}

.footer{
    position: relative;
    bottom: 1px;
    background-color: #141A20;
    color: white;
    max-height: 240px;
    .footer__wrapper{
        display: flex;
        justify-content: space-between;
        .footer__company{
            max-width: 250px;
        }
        .footer__title{
            font-family: 'Open Sans Bold', sans-serif;
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 1.09px;
            text-transform: uppercase;
        }
        .footer__link{
            .footer__social-network{
                display: flex;
                flex-direction: column;
                max-width: 20px;
                
                .social-network__href{
                    max-height: 20px;
                    font-size: 11px;
                    .href__img{

                    }
                }
            }            
        }
 
    }
    .footer__link__href{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 130px;
        .link{
            font-family: 'Open Sans Bold', sans-serif;
            font-weight: 600;
            font-size: 11px;
            line-height: 100%;
            letter-spacing: 1.09px;
            text-transform: uppercase;
            color: white;
            padding: 20px 15px 0px 0px;         
        }        
    }
}





@media (max-width:318px){
    .tagline{
        font-size: 40px;
        line-height: 35px;
    }
}
@media (max-width:424px){
    .tagline{
        font-size: 50px;
        line-height: 40px;
    }
}
@media (max-width:760px){
    .tagline{
        font-size: 60px;
        line-height: 65px;
    }
    .build{
        margin-top: 20px;
    }
    .email{
        .email__title_min{
            display: flex;
        }
        .email__title{
            display: none;
        }
    }

}
@media (max-width:1718px){
    .tagline{
        font-size: 60px;
        line-height:65px;
    }
}

@media (max-width:628px){
    .burger{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .burger__logo{
        padding-top: 10px;
    }
    .burger__menu{
        display: none;
    }
    .burger__menu-svg{
        display:flex;
        margin-right: 250px;
    }
    .menu__href:not(:last-child){
        padding-right: 10px;
    }
    .menu__href{
        font-size: 15px;
        padding-top: 15px; 
    }
}

@media (max-width:543px){
    .content__text{
        display: none;
    }
    ._min{
        display: block;
    }
}

@media (max-width:828px){
    .header__content{
        display: flex;
        flex-direction: column;
    }
    .content__images{
        justify-content: center;
        padding-top: 30px;
    }
    .content__text{
        text-align: center;
    }
    .our-capabilities__article{
        flex-wrap: wrap;
        .article__table{
            margin-top: 15px;            
        }
    }
}

@media (max-width:490px){
    .content__images__img1,.content__images__img2,.content__images__img3{
        margin-right: 5px;
    }
}

@media(max-width:750px){
    .article__table{
        margin: 0 auto;
       
    }
    .structure{
        margin:0 auto;
    } 
}