
$second:#00A4E5 !global;
$primary:#48555B !global;

@import './app/app.component.scss';
@font-face {
    font-family:"Bebas Neue Bold";
    src: url('./assets/fonts/Bebas\ Neue\ Bold.ttf');
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('./assets/fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans Semibold', sans-serif;
    src: url('./assets/fonts/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: 'Open Sans Bold', sans-serif;
    src: url('./assets/fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'Open Sans ExtraBold', sans-serif;
    src: url('./assets/fonts/OpenSans-ExtraBold.ttf');
}
